<h1>app-children</h1>
<table border="1px solid #ccc">
    <tbody *ngFor="let item of listuser ; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.email}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td><img src="{{item.avatar}}" alt="" width="40px"></td>
        <td (click)="userDetails(item);" (click)="kt()" style="cursor: pointer;">edit</td>
        <td style="cursor: pointer;" (click)="handDelete(item);">deltete</td>
    </tbody>
</table>
