
<app-children [listuser]="listuser" (hideadd)="hideadduser($event)" (deleteusers)="deletelistuser($event)" (userdetails)="userDetails($event)"></app-children>

<ng-container *ngFor="let item of userdetails">
   <input type="text" value="{{item.email}}" #email >
   <input type="text" value="{{item.first_name}}" #firstname>
   <input type="text" value="{{item.last_name}}" #lastname>
   <button (click)="editUser(item.id,email.value,firstname.value,lastname.value)">edit</button>
</ng-container>
<ng-container *ngIf="bo">
<input type="text"  #id>
<input type="text"  #email>
<input type="text"  #firstname>
<input type="text"  #lastname>
<input type="text"  #img>
<button (click)="adduserlist(id.value,email.value,firstname.value,lastname.value,img.value)">adduserlist</button>
</ng-container>